! -*- isis -*-
!
! ISISd sample configuration file
!
hostname {{IS_IS_HOSTNAME}}
password foo
enable password foo
log stdout
log file {{IS_IS_LOGFILE}}
!
!
{{#NODES}}
router isis {{.}}
  net 49.{{.}}.{{IS_IS_ROUTER_ADDRESS}}.00
  is-type level-1
!
{{/NODES}}
!  -- set the lifetime either for level-1, level-2 or both
!  lsp-lifetime level-1 65535
!  lsp-lifetime level-2 65535
!  lsp-lifetime 65535
!area-password foobar
!domain-password foobar
{{#NODES}}
interface eth{{.}}
 ip router isis {{.}} 
 isis hello-interval 5
!
{{/NODES}}
! -- optional
! -- optional
! isis circuit-type level-1
! isis password lallaa level-1
! isis metric 1 level-1
! isis csnp-interval 5 level-1
! isis retransmit-interval 10
! isis retransmit-throttle-interval
! isis hello-multiplier 2 level-1
! isis priority 64
!
