! Zebra configuration saved from vty
!   2016/12/08 15:28:44
!
hostname {{ZEBRA_HOSTNAME}}
password zebra
enable password zebra
log stdout
log file {{ZEBRA_LOGFILE}}
!
interface eth0
 description test of desc.
!
interface eth1
 ip address {{ADDRESS_ETH1}}.{{ADDRESS_NUM}}.{{ADDRESS_NUM}}.2/24
!
interface eth2
 ip address {{ADDRESS_ETH2}}.{{ADDRESS_NUM}}.{{ADDRESS_NUM}}.1/24
!
{{/INTERFACES}}
interface lo
!
interface sit0
!
ip forwarding
!
!
line vty
